head
  meta( name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" )
  meta( name="apple-mobile-web-app-capable" content="yes" )
  meta( name="apple-mobile-web-app-status-bar-style" content="black-translucent" )
  link( rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/apple-touch-icon-152x152-precomposed.png" )
  link( rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/apple-touch-icon-120x120-precomposed.png" )
  link( rel="apple-touch-icon-precomposed" sizes="76x76"   href="/images/apple-touch-icon-76x76-precomposed.png"   )
  link( rel="apple-touch-icon-precomposed"                 href="/images/apple-touch-icon-60x60-precomposed.png"   )
  link( rel="shortcut icon" href="/assets/default/apple-touch-icon-60x60-precomposed.png" )
