
<link href="../../bower_components/polymer/polymer.html" rel="import" />
<link href="../../bower_components/core-tooltip/core-tooltip.html" rel="import" />
<link href="../../bower_components/core-media-query/core-media-query.html" rel="import" />
<link href="../../bower_components/paper-icon-button/paper-icon-button.html" rel="import" />
<link href="/bower_components/paper-tooltip/paper-tooltip.html" rel="import" />

<link href="../../components/water-iconset/water-iconset.html" rel="import" />

<!--
  Element to provide a track button: Basically a responsive paper button with tooltip

  ##### Example

  <track-button></track-button>

  @element track-button
  @blurb Basically a responsive paper button with tooltip
  @status alpha
  @homepage http://indefinido.github.io/track-button
-->

<polymer-element name="track-button" tooltip="left" extends="paper-icon-button" attributes="tooltip">

  <template>
    <style>
      /deep/ #icon {
        width: 76px;
        height: 76px;
      }
    </style>
    <!-- TODO Implement a better solution to avoid displaying tooltip on mobile -->

    <core-media-query query="max-width: 640px" queryMatches="{{phoneScreen}}"></core-media-query>

    <template if="{{! phoneScreen}}">
      <core-tooltip position="{{ tooltip }}">
        <shadow></shadow>
        <content></content>
      </core-tooltip>
    </template>

    <template if="{{phoneScreen}}">
      <shadow></shadow>
      <paper-tooltip for="#content">Drink water!</paper-tooltip>
      <div id="content">
        <content select=":not([tip])"></content>
      </div>
    </template>

  </template>
  <script>
  //<![CDATA[
  Polymer('track-button', {
  });
  //]]>
  </script>
</polymer-element>
