#dashboard( horizontal center-justified flex layout )

  +pathway

  .tool.top-left.logo
    img( src="/images/logo.svg" )
                    
  .tool.top-right.tracker
    +tracker

  .tool.bottom-left.rules( vertical layout )
    each rules
      div( horizontal layout )
        +rule
  
  .tool.bottom-right
    .user.user-login.user-signed-in( horizontal end-justified layout )
      +loginButtons