head
  title Linque


body

  unless loaded
    +loading

  if currentUser
    +dashboard
  else
    +signIn

  
template( name="dashboard" )
  
  
  #dashboard( horizontal center flex layout )

    +pathway


    .tool.top-left.logo
      img( src="/images/logo.svg" )
                      
    .tool.top-right.skills
      each activeSkills
        +skill

    .tool.bottom-left.skills( vertical layout )
      each passiveSkills
        +skill
    
    .tool.bottom-right
      .user.user-login.user-signed-in( horizontal end-justified layout )
        +loginButtons
    


  //- #toolbar
  //-
  //- #statusbar
       

             

    
template( name="signIn")
  .user.user-login.user-signed-out( vertical flex center center-justified layout style="height: 100%" )
    img( class="pg-loading-logo" src="/images/logo.svg" )
    
    +loginButtons

    
template( name="user" )  
  
  .user( horizontal center-justified layout )
    .user-profile( relative title="Você está no nível #{level}" )
      img.user-picture( src="#{profile.picture}")
      //-span.user-level( fit )
        div.user-level-label Nível
        div.user-level-value #{level}


