template( name="levelup" )
  paper-dialog.dialog.dialog-levelup#levelup-dialog( style="display: none;" transition="core-transition-bottom" autoCloseDisabled layered backdrop )
    
    header.header( vertical layout )
      if currentUser
        with currentUser
          +user
    
      h1 Você passou para o nível #{level}!
      
    div.content
      
      div( horizontal end-justified layout )
        paper-button.colored( raised core-overlay-toggle ) Continuar