template( name="levelup" )
  paper-dialog#levelup-dialog( style="display: none;" heading="Level Up!" transition="core-transition-bottom" autoCloseDisabled layered backdrop )
    p Uhul!!! Você passou para o level #{level}!
    button( core-overlay-toggle ) Gradei! (clique pra continuar)