template( name="pathway" )

  linque-path
    
    linque-dot 
      paper-dialog(heading="Queijo quente") Com misto!
    linque-dot 
      paper-dialog.start.center(heading="Domo") Devorador de filhos
    linque-dot 
      +user
    linque-dot
    linque-dot
    linque-dot
    linque-dot