template( name="pathway" )

  linque-path
    
    linque-dot 
      paper-dialog(heading="Queijo quente") Com misto!
    linque-dot 
      paper-dialog.start.center(heading="Domo") Devorador de filhos
    linque-dot( free )
      div( center )
        +user
    linque-dot
    linque-dot( vivid )
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot( vivid )
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot( vivid )
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot
    linque-dot( vivid )
    linque-dot