template( name="skill" )
  
  .skill( id="#{id}" )

    core-tooltip
    
      paper-button( class="button #{classes}" title="#{name}" $dyn=attrs )
        span #{id}

      div(tip)
        +skillLevel(currentLevel)
        
        each nextSkillLevels
          +skillLevel
        