template( name="tracker" )
  
  .track.track-action

    track-button.button( icon="water:drink_1" )

      div.track.track-info.track-complete( tip )
        h2.track-name
          .core-tooltip-header Beber Água
      
        .core-tooltip-content Você pode beber água. Clique aqui logo após tomar água ao receber um gatilho.