color = #1f4d66



.activities
  color color
  box-sizing border-box
  width 320px
  
  .activities-day
    //
  .activities-header
    line-height 0.75em
    margin 1em 0 0.5em
    text-align center
    
  .activities-when
    font-weight bold
    upcase()
    
  .activities-date
    font-size 0.8em


.activity
  background-color rgba(#2689be, 0.2)
  border-radius 4px
  margin-top 2px
  padding 0.6em 1em
    
  
  .activity-icon
    margin-right 0.5em
    
  .activity-experience
    font-size 0.9em
    line-height 1.5em
      
  .activity-experience-value
    font-weight 700
    
  .activity-experience-unit
    font-size 0.8em
    font-weight 200
  
  .activity-time
    color rgba(color, 0.6)
    font-size 0.8em
    font-weight 200
    line-height 1.9em
    
    
    
+mobile()
  .activities
    width 100%
    padding 10px
    