@import 'theme'



.console
  // for shadow, i in true false
  //   { ('html /deep/ &' '&')[i] }

  background-color transparent
  color #FFF
  overflow auto
  
  padding 5em calc(50% + 80px + 1em) 1em 2em
  
  bottom 0
  left 0
  right 0
  top 0


  .console-title
    font-size 1.1em
    font-weight 400
    
    core-icon
      margin-right 0.3em
      
  .console-title-announcement
    color vividColor
    font-weight 600
  
  .console-content
    font-size 0.9em
    font-weight 300
    margin 1em 0
    
    
+below(750px)

  .console
    padding 3em 2em 1em 2em
    