@import 'theme'



.console
  // for shadow, i in true false
  //   { ('html /deep/ &' '&')[i] }

  background-color transparent
  color #FFF

  top 5em
  left 1em
  bottom 14em
  right calc(50% + 80px + 1em)
  
  padding 0 1em


  .console-title
    font-size 1.1em
    font-weight 400
    
    core-icon
      margin-right 0.3em
      
  .console-title-announcement
    color vividColor
    font-weight 600
  
  .console-content
    font-size 0.9em
    font-weight 300
    margin 1em 0