// for shadow in true false
//   { ('core-tooltip::shadow' 'core-tooltip')[i] }
//     .core-tooltip
//       visibility hidden



.core-tooltip-header
  padding 15px 22px 

.core-tooltip-content
  padding 22px 22px