@import 'theme'

for selector in 'core-overlay' 'html /deep/ core-overlay'
  {selector}
    background-color transparent
  
    top 5em
    left 1em
    bottom 14em
    right calc(50% + 80px + 1em)
    
