@import 'theme'
@import 'nib'

.decision
  

  .decision-rule
    background-color #FFF
    padding 0.5em
  
  .decision-rule-next
    font-weight 400
    padding 0.8em
    position relative
    top -2px