@import 'theme'


body
  font-family "Open Sans"
  
html, body
  height 100%
  
h1, h2, h3, h4, h5
  margin 0
  padding 0

#toolbar
  background-color #0074b3

// Splash Screen Logo Rule
.pg-loading-logo
  width 30%
  max-width 150px


.logo img
  width 30%
  max-width 130px

.pg-loading-screen .pg-loading-html
  margin-top 20px
  
  
