@import 'theme'


body
  font-family "Open Sans"
  
html, body
  height 100%
  
h1, h2, h3, h4, h5
  margin 0
  padding 0

#toolbar
  background-color #0074b3
  padding 2em 0 3em
  
  +mobile()
    padding 2em 0 2em