// body > #main
//   display none
//
// body.pg-loaded > #main
//   display block

.loading-message 
  color #fff
  font-size 25px
  font-weight 300
  font-family sans-serif

.sk-spinner-three-bounce.sk-spinner 
  .sk-bounce
    background-color #fff
