@import 'theme'

paper-button
  background-color #FFF
  
  &[disabled]
    background transparent
    
  &::shadow #shadow
    display none
    
  &.colored
    background-color #005d8f
    color white