@import 'theme'


paper-button

  background-color #FFF
  color backgroundColor
  font-size 0.8em
  text-transform none
  
  // &[disabled]
  //   background transparent

  
  for shadow, i in true false
    { ('&::shadow' '&')[i] }

      .button-content
        padding 0.1em 0.7em
        
