@import 'theme'
@import 'nib'



rule-item
  z-index 1
  


.rules
  //


.rule

  
  .qualifier    
    font-size 0.6em

    
    
  for shadow, i in true false
    { ('& /deep/' '&')[i] }
      .core-tooltip
        background-color vividColor
        box-shadow 0 1px 1px 0 rgba(0,0,0,0.2), 0 3px 6px 0 rgba(0,0,0,0.3)
        font-size 1em
        line-height 1.2em
        padding 0
        white-space normal
        transition visibility 0 0.1s
    
        &:not(.show)
          transition visibility 0 0.2s
    
        &::after
          border 8px solid transparent
      
        &.bottom::after
          border-bottom-color dialogHeaderColor
          left calc(50% - 8px)

  
    
// for shadow, i in true false
//
//   { ('html /deep/ &' '&')[i] }
//
//     .rule-info
//
//       &.rule-levelup
//         background-color blueLabelColor
//         border-radius 4px
//         text-align center
//
//       .rule-icon
//         color #FFF
//         height 100px
//         width 100px
//
//       .rule-name
//         color rgba(#FFF, 0.6)
//         font-size 1.1em
//         font-weight bold
//         upcase()
//
//       .rule-qualifier
//         color rgba(#FFF, 0.9)
//         font-size 1.3em
//         font-weight 300
//         // line-height 0.8em
//         downcase()



.rule-info
  color rgba(#000, 0.8)
  font-size 0.8em
  line-height 1em
  padding 1em
  width 350px
    
    

// +mobile()
