@import 'nib'



.skills
  position relative
  width 100%

.skill

  &.skill-action

    .button
      box-sizing border-box
      color #FFF
      margin 0.5em 0
      padding 7px

      &.active
    
        background-color rgba(#FFF,0.15)
      
        height 90px
        width 90px
      
      &.passive
      
        background-color transparent
        cursor default
      
        height 60px
        width 60px
        
        img, svg
          width 50%
      
      &.locked
      
        cursor default
        opacity 0.1

      img, svg
        width 100%
        
      .qualifier
        
        bottom 0
        left 0
        font-size 0.6em
        position absolute
        text-transform lowercase
        width 100%
      


+mobile()

  // .skills
  //   .skill
  //     .passive
  //       // position absolute
  //       // top 0

  .skill
    &.skill-action
      .button
        margin 0
        
        &.active
        &.passive
          width auto
          height auto
