@import 'theme'
@import 'nib'



track-button
  z-index 1
    
  for shadow, i in true false
    
    { (' /deep/' '&')[i] }
      core-tooltip
        height 100%
        width 100%
            

      #icon
        height 100%
        width  100%
  

.track-button

      border-radius 4px
      box-sizing border-box
      color #FFF
      margin 0.5em 0
      padding 7px
      background-color rgba(#FFF,0.15)

      // TODO use 'em'
      height 90px
      width 90px
     
      
      &.locked
        cursor default
          

//+mobile()