@import 'theme'


.user

  .user-profile
    //

  .user-picture
    rounded()

    border 3px solid rgba(#000, 0.3)
    
    height 160px
    width 160px
      
  .user-level
    rounded()
    
    background-color blueLabelColor
    
    box-sizing border-box
    height 50px
    width 50px
    padding 3px
    
    top auto
    bottom 0
    right 0
    left auto
    
    line-height 1.1em
    text-align center
    
    .user-level-label
      hide()
      upcase()
      color rgba(#FFF,0.4)
      font-size 0.5em
      font-weight 300
      
    .user-level-value
      color #FFF
      font-size 1.9em
      font-weight 700
      
    
  &.user-login
    
    &.user-signed-in
      //
      
    &.user-signed-out
      padding 15px
      font-size 0.8em
      
    
    
    
+mobile()
  
  .user
    .user-picture
      height 80px
      width 80px
      
    .user-level
      height 37px
      width 37px
      padding 3px
      
      line-height 0.9em
      
      .user-level-value
        font-size 1.25em