
<link href="../../bower_components/polymer/polymer.html" rel="import" />
<link href="../../bower_components/core-tooltip/core-tooltip.html" rel="import" />
<link href="../../bower_components/core-media-query/core-media-query.html" rel="import" />
<link href="../../bower_components/paper-icon-button/paper-icon-button.html" rel="import" />
<link href="../../components/water-iconset/water-iconset.html" rel="import" />

<!--
  Element to provide a skill button: Basically a responsive paper button with tooltip
  
  ##### Example
  
  <skill-button></skill-button>
  
  @element skill-button
  @blurb Basically a responsive paper button with tooltip
  @status alpha
  @homepage http://indefinido.github.io/skill-button
-->

<polymer-element name="skill-button" extends="paper-icon-button" touch-action="none">

  <template>
    <style>
      /deep/ #icon {
        width: 76px;
        height: 76px;
      }

      :host [tip] {
        display: none;
      }
      
    </style>
    <!-- TODO Implement a better solution to avoid displaying tooltip on mobile -->
    
    <core-media-query query="max-width: 640px" queryMatches="{{phoneScreen}}"></core-media-query>
    
    <template if="{{! phoneScreen}}">
      <core-tooltip>
        <shadow></shadow>
        <content></content>
      </core-tooltip>
    </template>

    <template if="{{phoneScreen}}">
      <shadow></shadow>
      <content select=":not([tip])"></content>
    </template>
    
  </template>
  <script>
  //<![CDATA[
  Polymer('skill-button', {
  });
  //]]>
  </script>
</polymer-element>
