<link href="../../bower_components/polymer/polymer.html" rel="import" />

<!--
  Element to a single timeline dot
  
  ##### Example
  
  <linque-path>
    <linque-dot></linque-dot>
  </linque-path>
  
  @element linque-dot
  @blurb Basically a responsive paper button with tooltip
  @status alpha
  @homepage http://indefinido.github.io/linque-dot
-->

<polymer-element name="linque-dot" on-click="clicked" attributes="opened" on-core-overlay-close-completed="overlayClosed">

  <template>
    <style>
     :host {
       width: 1em;
       height: 0.75em;
       margin: 2px 0 1px;
       background-color: rgba(255,255,255,0.3);
     }
     
     :host([completed]) {
       background-color: white;
     }
     
     :host([free]) {
       margin: 1px 0 0px;
       height: auto;
       background-color: transparent;
     }
     
     polyfill-next-selector { content: ':host([free]) [center]'; }
     :host([free]) ::content > [center] {
       width: 200px;
       margin-left: calc(-100px + 50%);
     }
     
     :host([vivid]) {
      background-color: #EADC60;
     }

    </style>

    <content></content>
              
  </template>
  <script>
  //<![CDATA[
  proto = {
    opened: false,
    attached: function () {
      // TODO look for openable objects, not only overlays
      this.overlay = this.querySelector('core-overlay');
    },
    openedChanged: function (old, value) {
      this.overlay    && (this.overlay.opened    = value)
    },
    clicked: function () {
      this.opened = ! this.opened;
    },
    // TODO check why overlay is not removing backdrop
    overlayClosed: function (event) {
      var backdrop, overlay = event.target;
      if (overlay.backdrop) {
        backdrop = document.querySelector('.core-overlay-backdrop');
        backdrop.parentNode.removeChild(backdrop);
      }
    }
  };

  Polymer('linque-dot', proto);
  //]]>
  </script>
</polymer-element>
