<link href="../../bower_components/polymer/polymer.html" rel="import" />

<!--
  Element to a single timeline dot
  
  ##### Example
  
  <linque-path>
    <linque-dot></linque-dot>
  </linque-path>
  
  @element linque-dot
  @blurb Basically a responsive paper button with tooltip
  @status alpha
  @homepage http://indefinido.github.io/linque-dot
-->

<polymer-element name="linque-dot" on-click="clicked" attributes="opened">

  <template>
    <style>
     :host {
       width: 1em;
       height: 0.8em;
       margin: 0.1em 0;
       background-color: white;
       transform: scale(1);
     }

     :host(:hover) {
       transform: scale(1.3);
       transition: transform 0.2s ease-in;
     }

    </style>

    <div hidden?="{{! opened}}">
      <content></content>
    </div>
              
  </template>
  <script>
  //<![CDATA[
  proto = {
    opened: false,
    attached: function () {
      // TODO look for openable objects, not only dialogs
      this.dialog = this.querySelector('paper-dialog');
    },
    openedChanged: function (old, value) {
      this.dialog    && (this.dialog.opened    = value)
    },
    clicked: function () {
      this.opened = ! this.opened;
    }
  };

  Polymer.mixin2(proto, Polymer.CoreFocusable);
  Polymer('linque-dot', proto);
  //]]>
  </script>
</polymer-element>
