
<link href="../../bower_components/polymer/polymer.html" rel="import" />
<link href="../../bower_components/core-tooltip/core-tooltip.html" rel="import" />
<link href="../../bower_components/core-media-query/core-media-query.html" rel="import" />
<link href="../../bower_components/paper-item/paper-item.html" rel="import" />
<link href="../../components/water-iconset/water-iconset.html" rel="import" />

<!--
  Element to provide a rule item: Basically a responsive paper item with tooltip
  
  ##### Example
  
  <rule-item></rule-item>
  
  @element rule-item
  @blurb Basically a responsive paper item with tooltip
  @status alpha
  @homepage http://indefinido.github.io/rule-item
-->

<polymer-element name="rule-item" attributes="icon">

  <template>
    <style>
      :host {
        box-sizing: border-box;
        color: #FFF;
        min-width: initial;
        margin: 0.5em 0;
        padding: 7px;
        position: relative;
      }
    
      :host #icon {
        display: block;
        margin: auto;
        width: 50px;
        height: 50px;
      }
      
      :host #label {
        text-align: center;
        text-transform: lowercase;
        width: 100%;
      }
      
      :host #question-mark {
        background-color: rgba(255,255,255,0.2);
        color: rgba(255,255,255,0.8);
        cursor: help;
        border-radius: 50%;
        display: inline-block;
        font-size: 0.7em;
        height: 1.4em;
        text-align: center;
        width: 1.4em;
      }
      
      :host #question-mark:hover {
        background-color: rgba(255,255,255,0.4);
        color: rgba(255,255,255,1);
      }
      
      :host core-tooltip {
        
        position: absolute;
        right: 0;
        top: 0;
      }
      
      
    </style>
    <!-- TODO Implement a better solution to avoid displaying tooltip on mobile -->
    
    <core-media-query query="max-width: 640px" queryMatches="{{phoneScreen}}"></core-media-query>
    
    <template if="{{! phoneScreen}}">
      <core-icon id="icon" icon="{{icon}}"></core-icon>
      <div id="label">
        <content select=":not([tip])"></content>
      </div>

      <core-tooltip position="right">
        <span id="question-mark">?</span>
        <content select="[tip]"></content>
      </core-tooltip>
    </template>

    <template if="{{phoneScreen}}">
      <core-icon id="icon" icon="{{icon}}"></core-icon>
      <div id="label">
        <content select=":not([tip])"></content>
      </div>
    </template>
    
  </template>
  <script>
  //<![CDATA[
  Polymer('rule-item', {
  });
  //]]>
  </script>
</polymer-element>
