#dashboard

  padding 2em 1em
  
  // linque-path
  //   z-index 12

  .logo img
    width 100%
    
  .tool
    padding 1em
    position fixed

    &.top-left
      top 0
      left 0
      
    &.top-right
      top 0
      right 0
      
    &.bottom-left
      bottom 0
      left 0
      
    &.bottom-right
      bottom 0
      right 0

  &.consoling
    linque-path
      z-index 12

    

+below(750px)
  #dashboard

    .logo img
      max-width 70px
      


    &.consoling
      linque-path
        z-index initial

